*{
    box-sizing: border-box;
}

.link-menu{
    padding: 5px;
    color: white;
    text-decoration: none;
}

.link-menu:hover{
    text-decoration: underline;
}

.link-menu:first-child{
    padding-left: 0;
}

.css-2uchni{
    display: flex;
    align-items: center;
    width: 170px;
}

.css-2uchni button {
    margin: 0 5px;
}
